.jogo{
    background: #9BE5E4;
    height: 100vh;
}
.nuvens{
    width: 200px;
    position: absolute;
    top: 30px;
    left: 50%;
}
.canos{
    width: 50px;
    position: absolute;
    bottom: 30px;
    right: 50px;
}
.mario{
    height: 80px;
    position: absolute;
    bottom: 30px;
    left: 50px;
}
.gameover{
    width: 80px;
    position: absolute;
    bottom: 30px;
    left: 10%;
}
.chao{
    background: lightgreen;
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0px;
}