.jogo{
    background: #9BE5E4;
    height: 100vh;
}
.nuvens{
    width: 200px;
    position: absolute;
    top: 30px;
    left: 50%;
}
.canos{
    width: 50px;
    position: absolute;
    bottom: 0px;
    left: 50%;
}
.mario{
    width: 80px;
    position: absolute;
    bottom: 0px;
    left: 10%;
}
.gameover{
    width: 80px;
    position: absolute;
    bottom: 0px;
    left: 10%;
}